@import "/src/assets/variables";

@topMenuHeight: @toolHeight + 4px;
@topStatusHeight: @toolHeight + 4px;

.icon {
  height: @toolHeight - 2px;
  margin: 2px 0;
  padding: 3px 4px;
  border-radius: 2px;
  font-size: 16px;
  color: @iconColor;
  user-select: none;

  &:hover {
    background-color: @toolItemIconHoverBgColor;
  }

  &:active {
    background-color: @toolItemIconActiveBgColor;
  }

  &:focus {
    outline: unset !important;
  }
}

.iconDisable {
  color: @fontDisableColor !important;
  cursor: default !important;

  &:hover {
    background-color: @toolBgColor !important;
  }
}

// -------------------------------------------------------------------------------- TopMenu

.topMenu {
  position: absolute;
  height: @topMenuHeight;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: @toolBgColor;
  border-bottom: 1px solid @splitColor;
  align-items: center;
  z-index: 999;
}

.topMenuLogoImg {
  height: @toolHeight - 2px;
  margin-left: 8px;
}

.topMenuLogoText {
  padding: 3px;
  color: @fontColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  user-select: none;
}

.topMenuLogoTextVersion {
  padding: 8px 0 3px 0;
  font-size: 10px;
  font-weight: normal;
  color: @versionColor;
  user-select: none;
}

// -------------------------------------------------------------------------------- TopStatus

.topStatus {
  position: absolute;
  height: @topStatusHeight;
  width: 100%;
  top: @topMenuHeight;
  left: 0;
  box-sizing: border-box;
  background-color: @toolBgColor;
  border-bottom: 1px solid @borderColor;
  align-items: center;
  z-index: 999;
}

.topStatusFileResourcePath {
  padding: 5px 0;
  height: 100%;
  font-size: 14px;
  color: @fontColor !important;
}

.topStatusFileModify {
  color: @fileModifyColor !important;
}

// -------------------------------------------------------------------------------- BottomTabs

.bottomTabs {
  position: absolute;
  height: @toolHeight;
  width: 100%;
  bottom: @toolHeight;
  left: 0;
  box-sizing: border-box;
  background-color: @toolBgColor;
  border-top: 1px solid @borderColor;
  align-items: center;
  z-index: 999;
}

.bottomTabsFirst {
  margin-left: @toolWidth;
}

.bottomTabsItem {
  height: 100%;
  padding: 4px 6px 2px 6px;
  color: @fontColor;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  user-select: none;

  span {
    font-size: 14px;
    color: @iconColor;
    padding-right: 2px;
  }

  &:hover {
    background-color: @toolItemHoverBgColor;
  }
}

.bottomTabsItemActive {
  color: @fontActiveColor;
  background-color: @toolItemActiveBgColor;
}

// -------------------------------------------------------------------------------- BottomStatus

.bottomStatus {
  position: absolute;
  height: @toolHeight;
  width: 100%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: @toolBgColor;
  border-top: 1px solid @splitColor;
  align-items: center;
  z-index: 999;
}

.bottomStatusFirst {
  margin-left: @toolWidth;
}

.bottomStatusItem {
  height: 100%;
  padding: 4px 6px;
  color: @fontColor;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  user-select: none;
}

// -------------------------------------------------------------------------------- LeftTabs

.leftTabs {
  position: absolute;
  width: @toolWidth;
  height: unset !important;
  top: @topMenuHeight + @topStatusHeight;
  bottom: @toolHeight * 2;
  left: 0;
  box-sizing: border-box;
  background-color: @toolBgColor;
  border-right: 1px solid @borderColor;
  align-items: center;
  z-index: 999;
}

.leftTabsItem {
  width: 100%;
  padding: 6px 0;
  color: @fontColor;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: center;
  user-select: none;

  span {
    font-size: 14px;
    position: relative;
    left: -1px;
    color: @iconColor;
  }

  &:hover {
    background-color: @toolItemHoverBgColor;
  }
}

.leftTabsItemActive {
  color: @fontActiveColor !important;
  background-color: @toolItemActiveBgColor !important;
}

// -------------------------------------------------------------------------------- RightTabs

.rightTabs {
  position: absolute;
  width: @toolWidth;
  height: unset !important;
  top: @topMenuHeight + @topStatusHeight;
  bottom: @toolHeight * 2;
  right: 0;
  box-sizing: border-box;
  background-color: @toolBgColor;
  border-left: 1px solid @borderColor;
  align-items: center;
  z-index: 999;
}

.rightTabsItem {
  width: 100%;
  padding: 6px 0;
  color: @fontColor;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: center;
  user-select: none;

  span {
    font-size: 14px;
    position: relative;
    left: -1px;
    color: @iconColor;
  }

  &:hover {
    background-color: @toolItemHoverBgColor;
  }
}

.rightTabsItemActive {
  color: @fontActiveColor !important;
  background-color: @toolItemActiveBgColor !important;
}

// -------------------------------------------------------------------------------- Center

.center {
  position: absolute;
  top: @topMenuHeight + @topStatusHeight;
  bottom: @toolHeight * 2;
  left: @toolHeight;
  right: @toolHeight;
}

// -------------------------------------------------------------------------------- VerticalSplit

.verticalSplit {
  display: flex;
  flex-direction: column;
}

.verticalSplitGutter {
  width: 100%;
  height: @toolHeight + 2px !important;
  box-sizing: border-box;
  background-color: @splitBgColor;
  border-top: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;
  border-left: none;
  border-right: none;
  cursor: ns-resize !important;
  z-index: 999;
}

.verticalSplitHideGutter .verticalSplitGutter {
  display: none;
}

.bottomPane {
  box-sizing: border-box;
  background-color: @paneBgColor;
}

// -------------------------------------------------------------------------------- HorizontalSplit

.horizontalSplit {
  display: flex;
  flex-direction: row;
}

.horizontalSplitGutter {
  height: 100%;
  width: 16px !important;
  margin: 0 -8px;
  background: none;
  opacity: 0;
  box-sizing: border-box;
  border: none;
  cursor: ew-resize !important;
  z-index: 999;
}

.horizontalLeftSplitHideGutter {
  .leftSplitGutter {
    display: none;
  }
}

.horizontalRightSplitHideGutter {
  .rightSplitGutter {
    display: none;
  }
}

.leftPane {
  box-sizing: border-box;
  background-color: @paneBgColor;
  border-right: 1px solid @borderColor;
}

.rightPane {
  box-sizing: border-box;
  background-color: @paneBgColor;
  border-left: 1px solid @borderColor;
}

.editorTabs {
  height: @toolHeight + 4px;
  background-color: @editorTabsBgColor;
  border-bottom: 1px solid @editorTabsBottomColor;
}

.fileTabsItem {
  height: 100%;
  box-sizing: border-box;
  padding: 4px 8px 2px 8px;
  color: @fileTabsColor;
  font-size: 14px;
  user-select: none;
  cursor: default !important;

  &:hover {
    color: @fontColor !important;
    background-color: @fileTabsHoverBgColor !important;
  }
}

.fileTabsItemClose {
  border-radius: 8px;
  color: @fileTabsCloseIconColor;
  margin-left: 2px;

  svg {
    padding: 3px;
  }

  &:hover {
    color: @fileTabsCloseIconHoverColor !important;
    background-color: @fileTabsCloseIconHoverBgColor !important;
  }
}

.fileTabsItemActive {
  color: @fileTabsActiveColor;
  background-color: @fileTabsActiveBgColor;
  border-bottom: 2px solid @fileTabsBottomColor !important;
}

.fileTabsItemType {
  font-size: 14px;
  color: @fileTabsTypeIconColor;
  padding-right: 3px;
}

.editorWrapper {
  width: 100%;
  height: calc(100% - (@toolHeight + 4px)) !important;
  background-color: @editorBgColor;
}

.editor {
  width: 100%;
  height: 100%;

  :global(.monaco-editor.vs-dark) {
    :global(.overflow-guard .margin .margin-view-overlays) {
      box-sizing: border-box;
      border-right: 1px solid @editorSplitRightColor !important;
    }

    :global(.editor-widget.suggest-widget) {
      z-index: 999 !important;
    }
  }
}
