@import "/src/assets/variables";

body {
  margin: 0;
  font-family: Consolas, "Courier New", monospace;
  max-height: 100%;
  max-width: 100%;
  //overflow: hidden;
  min-height: 600px;
  min-width: 1000px;
  background-color: @paneBgColor;
}

:focus {
  outline: unset !important;
}

.bp3-control input:focus ~ .bp3-control-indicator {
  outline: unset !important;
}

// -------------------------------------------------------------------------------- simplebar

.simplebar-track.simplebar-horizontal {
  height: 10px !important;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 0 !important;
  height: 10px !important;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 8px !important;
  left: 2px !important;
  right: 2px !important;
}

.simplebar-track.simplebar-vertical {
  width: 10px !important;
}

.simplebar-track .simplebar-scrollbar {
  //width: 10px !important;
  right: 0 !important;

}

.simplebar-track .simplebar-scrollbar:before {
  background-color: @scrollBarColor !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  right: 0 !important;
}

// -------------------------------------------------------------------------------- menu

.bp3-popover2-transition-container {
  z-index: 999999 !important;
}

.bp3-popover2.bp3-dark, .bp3-dark .bp3-popover2 {
  box-shadow: unset !important;
}

.bp3-menu {
  color: @fontColor !important;
  background-color: @paneBgColor !important;
  box-sizing: border-box !important;
  border-radius: 0 !important;
  border: 1px solid @contextMenuBorderColor !important;
  padding: 0 !important;
}

.bp3-menu-item {
  padding: 2px 4px !important;
  border-radius: 0 !important;
}

.bp3-dark .bp3-menu-item:hover, .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-menu-item, .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-menu-item {
  background-color: @contextMenuItemHoverColor !important;
}

.bp3-dark .bp3-menu-item.bp3-disabled svg {
  color: rgba(167, 182, 194, 0.6) !important;
}

// -------------------------------------------------------------------------------- tree

.bp3-tree-node-label {
  color: @fontColor !important;
}

.bp3-tree-node-content {
  height: 22px !important;
}

.bp3-tree-node-caret {
  padding: 2px 1px !important;
}

.bp3-tree-node-caret, .bp3-tree-node-caret-none {
  min-width: 20px !important;
}

.bp3-tree-node .bp3-tree-node-content:hover {
  background-color: #0D293E !important;
}

.bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content {
  background-color: #4B6EAF !important;
}

// -------------------------------------------------------------------------------- dialog

.bp3-dialog-container .bp3-dialog {
  color: @fontColor !important;
  background-color: #3C3F41 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-bottom: 10px !important;
  border: 1px solid #242424 !important;
  z-index: 999999 !important;
}

.bp3-dialog-container label.bp3-label {
  color: @fontColor !important;
  font-size: 12px !important;
  line-height: 24px !important;
}

input.bp3-input {
  height: 24px !important;
  line-height: 24px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
  background-color: #3C3F41 !important;
  color: @fontColor !important;
  border-color: #646464 !important;
}

input.bp3-input {
  box-shadow: 0 0 0 0 rgb(100 100 100), 0 0 0 0 rgb(100 100 100), 0 0 0 0 rgb(100 100 100), inset 0 0 0 1px rgb(100 100 100), inset 0 1px 1px rgb(100 100 100) !important;
}

input.bp3-input:focus {
  box-shadow: 0 0 0 1px #4083C9, 0 0 0 1px #4083C9, 0 0 0 1px rgb(64 131 201 / 30%), inset 0 0 0 1px rgb(64 131 201 / 30%), inset 0 1px 1px rgb(64 131 201 / 40%) !important;
}

input.bp3-input::placeholder {
  color: #787878 !important;
  font-size: 12px !important;
}

.bp3-dialog-container .bp3-html-select select, .bp3-dialog-container .bp3-select select {
  height: 24px !important;
  line-height: 24px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
}

.bp3-dialog-container .bp3-html-select .bp3-icon, .bp3-dialog-container .bp3-select .bp3-icon, .bp3-dialog-container .bp3-select::after {
  top: 2px !important;
}

.bp3-dialog-container .bp3-form-group {
  margin-bottom: 8px;
}

.bp3-button, .bp3-portal .bp3-alert-footer .bp3-button {
  padding: 3px 5px !important;
  min-height: 20px !important;
  min-width: 20px !important;
  font-size: 13px !important;
  background-color: #4C5052 !important;
  background-image: none !important;
  border: 1px solid #5E6060 !important;
  color: @fontColor !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  user-select: none !important;
}

.bp3-button, .bp3-portal .bp3-alert-footer .bp3-button.bp3-dialog-close-button {
  border: none !important;
}

.bp3-button.bp3-intent-primary {
  background-color: #365880 !important;
  border: 1px solid #4C708C !important;
}

.bp3-button.bp3-intent-danger {
  background-color: #db3737 !important;
  border: 1px solid #db3737 !important;
}

.bp3-button:active,
.bp3-button:active,
.bp3-button.bp3-intent-primary:active,
.bp3-button.bp3-intent-danger:active {
  color: #f5f8fa !important;
}

.bp3-button.bp3-disabled:disabled,
.bp3-button.bp3-disabled:disabled:active,
.bp3-button.bp3-disabled:disabled:active,
.bp3-button.bp3-disabled:disabled:active,
.bp3-button.bp3-intent-primary.bp3-disabled:disabled:active,
.bp3-button.bp3-intent-danger.bp3-disabled:disabled:active {
  color: #777777 !important;
}

.bp3-dialog-container .bp3-dialog .bp3-dialog-header {
  background-color: #4A4E52 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 28px !important;
  min-height: 24px !important;
  padding-left: 5px !important;
}

.bp3-dialog-container .bp3-dialog .bp3-dialog-header .bp3-heading {
  color: @fontColor !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.bp3-overlay-backdrop {
  background-color: unset !important;
}

// -------------------------------------------------------------------------------- tabs

.bp3-tabs .bp3-tab-panel {
  margin-top: 0 !important;
}

.bp3-tab-list > *:not(:last-child) {
  margin-right: 12px !important;
}

.bp3-tab-list {
  margin: 0 12px !important;
  user-select: none !important;
}

.bp3-dark .bp3-tab {
  color: @fontColor !important;
}

.bp3-dark .bp3-tab[aria-selected="true"], .bp3-dark .bp3-tab:not([aria-disabled="true"]):hover {
  color: @fontActiveColor !important;
}

.bp3-dark .bp3-tab[aria-selected="true"] {
  box-shadow: inset 0 -3px 0 @splitBottomColor !important;
}

// -------------------------------------------------------------------------------- input
input {
  border-radius: 0;
  background-color: #3C3F41;
  color: @fontColor;
  border: 1px solid #646464;

  &:focus {
    border: 1px solid #4083C9;
  }

  &::placeholder {
    color: #787878;
  }
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  position: relative;
}

input[type=checkbox]:after {
  width: 16px;
  height: 16px;
  font-size: 14px;
  padding: 0 1px 1px 2px;
  content: " ";
  position: absolute;
  top: 0;
  border-radius: 1px;
  border: 1px solid #6B6B6B;
  color: #A7A7A7;
  background-color: #43494A;
}

input[type=checkbox]:checked:after {
  position: absolute;
  content: "✓";
  font-weight: 600;

}

.bp3-control {
  margin-bottom: 4px !important;
}

.bp3-dark .bp3-control {
  color: @fontColor;
}

.bp3-dark .bp3-control .bp3-control-indicator {
  background-color: #43494A !important;
}

.bp3-dark .bp3-control:hover .bp3-control-indicator,
.bp3-dark .bp3-control:focus .bp3-control-indicator,
.bp3-dark .bp3-control:active .bp3-control-indicator {
  background-color: #43494A !important;
}

.bp3-control input:checked ~ .bp3-control-indicator {
  //background-color: #137cbd;
  background-color: #43494A !important;
  color: #A7A7A7 !important;
}

.bp3-control.bp3-radio input:checked ~ .bp3-control-indicator::before {
  background-image: radial-gradient(#A7A7A7, #A7A7A7 28%, transparent 32%) !important;
}
