@import "/src/assets/variables";

body {
  margin: 0;
  font-family: Consolas, "Courier New", monospace;
  max-height: 100%;
  max-width: 100%;
  //overflow: hidden;
  min-height: 600px;
  min-width: 1000px;
  background-color: @paneBgColor;
}

// -------------------------------------------------------------------------------- menu

.bp3-popover2-transition-container {
  z-index: 999999 !important;
}

.bp3-popover2.bp3-dark, .bp3-dark .bp3-popover2 {
  box-shadow: unset !important;
}

.bp3-menu {
  color: @fontColor !important;
  background-color: @paneBgColor !important;
  box-sizing: border-box !important;
  border-radius: 0 !important;
  border: 1px solid @contextMenuBorderColor !important;
  padding: 0 !important;
}

.bp3-menu-item {
  padding: 2px 4px !important;
  border-radius: 0 !important;
}

.bp3-dark .bp3-menu-item:hover, .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-menu-item, .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-menu-item {
  background-color: @contextMenuItemHoverColor !important;
}

.bp3-dark .bp3-menu-item.bp3-disabled svg {
  color: rgba(167, 182, 194, 0.6) !important;
}

// -------------------------------------------------------------------------------- tree

.bp3-tree-node-label {
  color: @fontColor !important;
}

.bp3-tree-node-content {
  height: 22px !important;
}

.bp3-tree-node-caret {
  padding: 2px 1px !important;
}

.bp3-tree-node-caret, .bp3-tree-node-caret-none {
  min-width: 20px !important;
}

.bp3-tree-node .bp3-tree-node-content:hover {
  background-color: #0D293E !important;
}

.bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content {
  background-color: #4B6EAF !important;
}
