// --------------------------------------------------------------------------- 通用颜色
// 边框颜色
@borderColor: #323232;
// 分割线颜色
@splitColor: #515151;
// 工具栏背景颜色
@toolBgColor: #3C3F41;
// 工具栏叶签项Hover背景颜色
@toolItemHoverBgColor: #353739;
// 工具栏叶签项Active背景颜色
@toolItemActiveBgColor: #2D2F30;
@toolItemIconHoverBgColor: #4C5052;
@toolItemIconActiveBgColor: #5C6164;
// 资源面板背景色
@paneBgColor: #3C3F41;
// 编辑器背景色
@editorBgColor: #2B2B2B;
// 编辑器叶签背景颜色
@editorTabsBgColor: #3C3F41;
// 编辑器叶签底部边框颜色
@editorTabsBottomColor: #323232;
// 常规字体颜色
@fontColor: #BBBBBB;
// 活动字体颜色
@fontActiveColor: #FFFFFF;
// 活动字体颜色
@fontDisableColor: #5A5A5A;
// 字体图标颜色
@iconColor: #AFB1B3;
// 版本号颜色
@versionColor: #AAAAAA;
// 控制台分隔器背景颜色
@splitBgColor: #3B4754;
@splitHoverBgColor: #27292A;
@splitIconColor: #61696D;
@splitIconHoverColor: #51585B;
@splitBottomColor: #4083C9;
// 控制台分隔器背景颜色
@fileTabsColor: #AFB0B0;
@fileTabsHoverBgColor: #27292A;
@fileTabsCloseIconColor: #61696D;
@fileTabsCloseIconHoverColor: #27292A;
@fileTabsCloseIconHoverBgColor: #51585B;
@fileTabsTypeIconColor: #61696D;
@fileTabsActiveColor: #A9A8A8;
@fileTabsActiveBgColor: #4E5254;
@fileTabsBottomColor: #4083C9;
@fileModifyColor: #6897BB;
// 代码编辑器行区域和编辑器区域样式
@editorSplitRightColor: #555555;
// 滚动条颜色
@scrollBarColor: #666868;

// 工具栏高度
@toolHeight: 24px;
// 工具栏宽度
@toolWidth: 24px;

// --------------------------------------------------------------------------- 通用样式

.hide {
  display: none !important;
}

.flexRow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexItemRow {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.flexItemRowHeightFull {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
}

.flexColumn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexItemColumn {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.flexItemColumnWidthFull {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
}
