// 边框颜色
@borderColor: #323232;
// 分割线颜色
@splitColor: #515151;
// 工具栏背景颜色
@toolBgColor: #3C3F41;
// 资源面板背景色
@paneBgColor: #3C3F41;
// 编辑器背景色
@editorBgColor: #2B2B2B;
// 编辑器叶签背景颜色
@editorTabsBgColor: #3C3F41;
// 编辑器叶签底部边框颜色
@editorTabsBottomColor: #323232;

// 工具栏高度
@toolHeight: 24px;
// 工具栏宽度
@toolWidth: 24px;
